@model AddViewModel
@{
    ViewData["Title"] = "Add";
}


<div class="container-fluid">
	<div class="row">
		<h3>Aggiungi un Prodotto</h3>

	</div>
	<div class="row">
		<form method="post" asp-controller="Admin" asp-action="AddItem">
			<div class="mb-3">
				<label for="nomeProdotto" asp-for="Nome" class="form-label"></label>
				<input type="text" class="form-control" id="nomeProdotto" asp-for="Nome" placeholder="Inserisci il nome del prodotto..." required>
			</div>
			<div class="mb-3">
				<label for="brandProdotto" asp-for="Brand" class="form-label"></label>
				<input type="text" class="form-control" id="brandProdotto" asp-for="Brand" placeholder="Inserisci il brand..." required>
			</div>
			<div class="mb-3">
				<label for="categoriaProdotto" asp-for="IdCategoria" class="form-label"></label>
				<select class="form-control" asp-for="IdCategoria" asp-items="@(new SelectList(Model.ListaCategorie,"IdCategoria","NomeCategoria"))" required>
					<option value="">--Seleziona una Categoria--</option>
				</select>
			</div> 
			<div class="mb-3">
				<label for="prezzoProdotto" asp-for="Prezzo" class="form-label"></label>
				<input type="number" class="form-control" id="prezzoProdotto" asp-for="Prezzo" step="0.01" placeholder="Es.. 99,90" value="" required>
			</div>

			<div class="mb-3">
				<label for="immagineProdotto" asp-for="Immagine" class="form-label"></label>
				<input type="text" class="form-control" id="immagineProdotto" asp-for="Immagine" placeholder="ES.. https://m.media-amazon.com/images/I/61gYB2HghmL.__AC_SX300_SY300_QL70_ML2_.jpg" required>
			</div>

			<div class="mb-3">
				<label for="immagineAltProdotto" asp-for="ImmagineAlt" class="form-label"></label>
				<input type="text" class="form-control" id="immagineAltProdotto" asp-for="ImmagineAlt" placeholder="ES.. https://m.media-amazon.com/images/I/61gYB2HghmL.__AC_SX300_SY300_QL70_ML2_.jpg" required>
			</div>
			<div class="mb-3">
				<label for="descrizioneProdotto" asp-for="Descrizione" class="form-label">Descrizione</label>
				<textarea class="form-control" id="descrizioneProdotto" asp-for="Descrizione" rows="3" placeholder="Inserisci la descrizione del prodotto" required></textarea>
			</div>

			<div class="d-flex justify-content-between">
				<button type="submit" class="btn btn-success">Aggiungi</button>
				<button type="reset" class="btn btn-secondary">Reset</button>
			</div>
			

		</form>
	</div>
</div>

